<br />
<br />
<div class='span6'>
  <h2>Choose the habits you want</h2>
  <br />
  <blockquote>
    <p>Habit specializes in breaking down a desired habit into micro steps, which anyone can achieve. The first step is simply to choose your desired  habit .</p>
  </blockquote>
  <br />
  <br />
  <div align='center'>
    <%= image_tag("arrow_right.png") %>  
  </div>  
</div> 
<br />
<div class='span6'>
  <div class='well'>
    <div id='web'>
      <%= image_tag("notepad.png") %><br />
    </div>  
  </div>  
</div>
<br />
<br />
<div class='span6'>
  <br />
  <br />
  <div class='well'>
    <div id='phone'>  
      <%= image_tag("iphone2.png") %>
    </div>
  </div>  
</div> 
<div class='span6'>
    <br />
      <br />
        <h2>Exercises develop the habit</h2>
      <br />
      <blockquote>
        <p>We then take those micro steps and give them an anchor, which means placing them next to something you already do each day such as brushing your teeth or coming home from work.</p>
      </blockquote>  
      <br />
      <div align='center'>
        <%= image_tag("arrow_left.png") %>
      </div>  
</div>
</div>
<div class='row'>
  <br />
  <br />
  <div class='span6'>
    <h2>All about exercises</h2>
    <br />
    <blockquote>
      <p>We then give you daily activities to do, which will ultimately lead to the development of the habit you desire. On the right are a few example activities. Easy right? So why not get started today?</p>
    </blockquote>
    <br />
    <div align='center'>
      <%= image_tag("arrow_right.png") %>  
    </div>   
  </div>
  <div class='span6'>
    <div class='well'>
      <p style='margin-left: 15px'>"After brushing tonight, just floss one tooth.<br />Any one, but just one." - Flossing daily</p>
    </div>
    <div class='well'>
      <p style='margin-left: 15px'>"As soon as you arrive home tonight, put on<br />your running shoes. You don't have to go anywhere. Just put them on." - Regular exercise</p>
    </div>
    <div class='well'>
      <p style='margin-left: 15px'>"After you get into bed tonight, white three<br />words in your journal." - Increased writing</p>
    </div>
  </div>
</div>  
<div class='row'>
  <div class='span12'>
    <hr>
    <div align='center'>  
      <%= render :partial => 'users/form' %> 
    </div>
    <hr>
  </div>  
</div>  
    
    
    
  
 



